:root {
  --primary: #f0f8ff;
  --secondary: #2696f1;
  --tertiary: #a7a7a7;

  --text: #0f0f0f;
}

*,
*::before,
*::after {
  color: var(--text);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary);
}

input:focus,
input:active {
  outline: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: 2em;
}

ul {
  list-style: none;
}

h1 {
  color: var(--secondary);
}

#post-preview-list {
  /* background: red; */
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.funding-post {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1em 2em;
}

.funding-post::before {
  content: '';
  background: gray;
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* LEFT COLUMN */
.funding-post > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  width: auto;
  flex-grow: 1;
}

.funding-post > div:first-of-type > h3 {
  color: var(--secondary);
  font-size: 1.5em;
}

.funding-post > div:first-of-type > h5 {
  font-size: 1em;
}

.funding-post > div:first-of-type > h5 > span {
  color: forestgreen;
  font-weight: bold;
}

.funding-post > div:first-of-type > h3,
.funding-post > div:first-of-type > h5 {
  padding-left: 10px;
}

.funding-post > div:first-of-type > h5,
.funding-post > div:first-of-type > h4 {
  font-weight: normal;
}

/* RIGHT COLUMN */
.funding-post > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  width: 50%;
}
